<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página con Banner Responsivo</title>
    <link rel="stylesheet" href="banner.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>

<!-- Banner -->
<div class="banner-container">
    <img src="../../assets/img/book-banner.jpg" alt="Descripción del banner" class="banner-img">
    <div class="banner-text">
        <span class="frase1">Revista</span>
        <span class="frase2">Teoría y praxis</span>
    </div>
</div>

</body>
</html>