#el-verdadero {
    font-size: 3.2rem;
    color: #0c64af;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

#el-verdadero .linea1 {
    display: block;
    white-space: nowrap;
}

#el-verdadero .linea2 {
    display: block;
    white-space: nowrap;
}

#banner-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.8rem;
    width: 100%;
}

#tranding {
    flex: 2;
    max-width: 60%;
    padding: 1rem;
}

#index_section01 {
    margin-top: -10rem;
    margin-left: 1.0rem;
}

#welcome {
    flex: 1;
    max-width: 80%;
    text-align: center;
    margin: 0 auto;
    padding: rem;
    border-radius: 10px;
    background: none;
}

.container-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 1.0rem;
    padding: 2rem 0;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 2rem 0;
}

.banner-text {
    font-size: 1.6rem;
    color: #333;
    font-weight: 500;
    line-height: 1.6;
    margin-bottom: 1.0rem;
    white-space: nowrap;
}

.search-container1 {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    padding: 10px 16px;
    border-radius: 30px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: fit-content;
    margin: 0 auto;
    margin-top: 2rem;
}

.search-container1 input {
    border: none;
    background: none;
    outline: none;
    padding: 8px 12px;
    flex: 1;
    font-size: 20px;
    color: #333;
    width: 200px;
}

.search-container1 input::placeholder {
    color: #9d9d9d;
    font-style: italic;
}

.search-container1 button {
    background-color: #0c64af;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.search-container1 button:hover {
    background-color: #033764;
}

.searchimg {
    width: 16px;
    height: 16px;
    filter: brightness(0) invert(1);
}

@media (min-width: 960px) {
    .search-container1 {
        max-width: 600px;
        width: 130%;
    }
}

@media (max-width: 950px) {
    .main-container {
        flex-direction: column;
    }

    #banner-principal, #tranding {
        max-width: 100%;
    }

    #welcome {
        margin-left: 1rem;
        text-align: center;
    }

    #el-verdadero {
        font-size: 30px;
    }

    .banner-text {
        font-size: 14px;
    }

    .search-container1 {
        margin-top: 1rem;
        max-width: 100%;
    }

    .search-container1 input {
        font-size: 12px;
    }

    .searchimg {
        width: 10px;
        height: 10px;
    }
}

@media (max-width: 480px) {
    #el-verdadero {
        font-size: 25px;
    }

    .banner-text {
        font-size: 12px;
    }

    .search-container1 {
        flex-direction: column;
        align-items: stretch;
        padding: 8px;
    }

    .search-container1 input {
        margin-bottom: 8px;
    }

    .search-container1 button {
        width: 100%;
    }
}
