<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/src/components/organisms/footer.css">
</head>
<body>
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-logo">
        <img src="/src/assets/img/Logo Blanco.png" alt="Logo UDB">
      </div>
  
      <div class="footer-info">
        <p>Calle a Plan del Pino Km 1 1/2.<br>
           Ciudadela Don Bosco, Soyapango,<br>
           El Salvador, CA.</p>
      </div>
  
      <div class="footer-links">
        <ul>
          <li>Revistas</li>
          <li>Colecciones</li>
          <li>Manuales</li>
          <li>Textos escolares</li>
        </ul>
      </div>
  
      <div class="footer-contact">
        <div class="contact-item">
          <span class="icon phone-icon"><img src="/src/assets/img/phone-call.png" alt="Phone Icon"></span>
          <span>Teléfono: (503) 2251-8200</span>
        </div>
        <div class="contact-item">
          <span class="icon email-icon"><img src="/src/assets/img/email.png" alt="Email Icon"></span>
          <span>editorial@udb.edu.sv</span>
        </div>
        <div class="contact-item social-icons">
          <a href="https://www.facebook.com" target="_blank" class="social-icon">
            <img src="/src/assets/img/facebookAmarillo.png" alt="Facebook Icon">
          </a>
          <a href="https://www.instagram.com" target="_blank" class="social-icon">
            <img src="/src/assets/img/instagramAmarillo.png" alt="Instagram Icon">
          </a>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <p class="footer-bottom-letter">Editorial Universidad Don Bosco. San Salvador, El Salvador. © Derechos Reservados 2022</p>
    </div>
  </footer>
  
      
</body>
</html>